## Preprocessing

Unlike the starter code, this file does not remove the "NAME" column from the dataframe, instead binning the value in a similar fashion to the "APPLICATION_TYPE" or "CLASSIFICATION" columns.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the EIN column, this time retaining the NAME values
application_df = application_df.drop(columns = ["EIN"])

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning & 
name = application_df["NAME"].value_counts()

# Choose a cutoff value and create a list of names to be replaced
# use the variable name `name_types_to_replace`
name_types_to_replace = list(name[name < 10].index)

# Replace in dataframe
for name in name_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                         21022
PARENT BOOSTER USA INC                         1260
TOPS CLUB INC                                   765
UNITED STATES BOWLING CONGRESS INC              700
WASHINGTON STATE UNIVERSITY                     492
                                              ...
SNOHOMISH HIGH SCHOOL PANTHER PARENTS CLUB       10
AMERICAN COLLEGE OF NURSE-MIDWIVES               10
NATIONAL ASSOCIATION OF LETTER CARRIERS          10
FREE & ACCEPTED MASONS OF WASHINGTON             10
NATIONAL ASSOCIATION OF HISPANIC NURSES          10
Name: NAME, Length: 223, dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df["APPLICATION_TYPE"].value_counts()
application_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification = application_df["CLASSIFICATION"].value_counts()

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_filter = classification[classification > 1]
class_filter

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C1260        3
C0           3
C2710        3
C3200        2
C1234        2
C1267        2
C1256        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification[classification < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype = float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
x = application_df.drop("IS_SUCCESSFUL", axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 0)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
length = len(X_train_scaled[0])
layer1 = 5
layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = layer1, input_dim = length, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = layer2, input_dim = length, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 1365

 dense_1 (Dense)             (None, 10)                60

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,436
Trainable params: 1,436
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [15]:
# Train the model
model = nn.fit(X_train_scaled, y_train, validation_split = 0.10, epochs = 100)

Epoch 1/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7046 - val_loss: 0.4873 - val_accuracy: 0.7528
Epoch 2/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4737 - accuracy: 0.7632 - val_loss: 0.4585 - val_accuracy: 0.7688
Epoch 3/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4583 - accuracy: 0.7768 - val_loss: 0.4518 - val_accuracy: 0.7785
Epoch 4/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4524 - accuracy: 0.7813 - val_loss: 0.4527 - val_accuracy: 0.7792
Epoch 5/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4505 - accuracy: 0.7811 - val_loss: 0.4486 - val_accuracy: 0.7785
Epoch 6/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4486 - accuracy: 0.7817 - val_loss: 0.4461 - val_accuracy: 0.7785
Epoch 7/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4475 - accuracy: 0.7832 - val_loss: 0.4449 - val_accuracy: 0.7796
Epoch 8/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4461 - accuracy: 0.7855 - val_loss: 0.4470 - val_accuracy: 0.7800
Epoch 9/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4458 - accuracy: 0.7839 - val_loss: 0.4450 - val_accuracy: 0.7781
Epoch 10/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4450 - accuracy: 0.7852 - val_loss: 0.4464 - val_accuracy: 0.7792
Epoch 11/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4439 - accuracy: 0.7861 - val_loss: 0.4466 - val_accuracy: 0.7824
Epoch 12/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4438 - accuracy: 0.7855 - val_loss: 0.4463 - val_accuracy: 0.7824
Epoch 13/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4432 - accuracy: 0.7857 - val_loss: 0.4445 - val_accuracy: 0.7812
Epoch 14/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4423 - accuracy: 0.7869 - val_loss: 0.4453 - val_accuracy: 0.7824
Epoch 15/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4420 - accuracy: 0.7854 - val_loss: 0.4441 - val_accuracy: 0.7839
Epoch 16/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4414 - accuracy: 0.7851 - val_loss: 0.4466 - val_accuracy: 0.7851
Epoch 17/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4407 - accuracy: 0.7874 - val_loss: 0.4468 - val_accuracy: 0.7831
Epoch 18/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4408 - accuracy: 0.7885 - val_loss: 0.4471 - val_accuracy: 0.7831
Epoch 19/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4403 - accuracy: 0.7871 - val_loss: 0.4472 - val_accuracy: 0.7851
Epoch 20/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4406 - accuracy: 0.7873 - val_loss: 0.4471 - val_accuracy: 0.7831
Epoch 21/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4403 - accuracy: 0.7876 - val_loss: 0.4458 - val_accuracy: 0.7851
Epoch 22/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.7875 - val_loss: 0.4494 - val_accuracy: 0.7839
Epoch 23/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4397 - accuracy: 0.7889 - val_loss: 0.4459 - val_accuracy: 0.7843
Epoch 24/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.7882 - val_loss: 0.4478 - val_accuracy: 0.7847
Epoch 25/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.7888 - val_loss: 0.4472 - val_accuracy: 0.7847
Epoch 26/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.7887 - val_loss: 0.4470 - val_accuracy: 0.7835
Epoch 27/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4392 - accuracy: 0.7890 - val_loss: 0.4469 - val_accuracy: 0.7843
Epoch 28/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4393 - accuracy: 0.7886 - val_loss: 0.4465 - val_accuracy: 0.7851
Epoch 29/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4388 - accuracy: 0.7885 - val_loss: 0.4484 - val_accuracy: 0.7851
Epoch 30/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4385 - accuracy: 0.7896 - val_loss: 0.4490 - val_accuracy: 0.7855
Epoch 31/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4386 - accuracy: 0.7886 - val_loss: 0.4471 - val_accuracy: 0.7859
Epoch 32/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4387 - accuracy: 0.7878 - val_loss: 0.4454 - val_accuracy: 0.7855
Epoch 33/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4382 - accuracy: 0.7888 - val_loss: 0.4465 - val_accuracy: 0.7851
Epoch 34/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4382 - accuracy: 0.7882 - val_loss: 0.4481 - val_accuracy: 0.7831
Epoch 35/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4379 - accuracy: 0.7886 - val_loss: 0.4450 - val_accuracy: 0.7862
Epoch 36/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4380 - accuracy: 0.7886 - val_loss: 0.4471 - val_accuracy: 0.7824
Epoch 37/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4379 - accuracy: 0.7886 - val_loss: 0.4450 - val_accuracy: 0.7847
Epoch 38/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4377 - accuracy: 0.7893 - val_loss: 0.4463 - val_accuracy: 0.7835
Epoch 39/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4376 - accuracy: 0.7884 - val_loss: 0.4454 - val_accuracy: 0.7831
Epoch 40/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4374 - accuracy: 0.7895 - val_loss: 0.4466 - val_accuracy: 0.7843
Epoch 41/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4376 - accuracy: 0.7882 - val_loss: 0.4474 - val_accuracy: 0.7827
Epoch 42/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4374 - accuracy: 0.7888 - val_loss: 0.4469 - val_accuracy: 0.7804
Epoch 43/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4368 - accuracy: 0.7893 - val_loss: 0.4483 - val_accuracy: 0.7812
Epoch 44/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4374 - accuracy: 0.7894 - val_loss: 0.4469 - val_accuracy: 0.7835
Epoch 45/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4372 - accuracy: 0.7885 - val_loss: 0.4469 - val_accuracy: 0.7796
Epoch 46/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4372 - accuracy: 0.7892 - val_loss: 0.4469 - val_accuracy: 0.7812
Epoch 47/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4369 - accuracy: 0.7887 - val_loss: 0.4473 - val_accuracy: 0.7835
Epoch 48/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4367 - accuracy: 0.7902 - val_loss: 0.4464 - val_accuracy: 0.7820
Epoch 49/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4367 - accuracy: 0.7896 - val_loss: 0.4475 - val_accuracy: 0.7785
Epoch 50/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4366 - accuracy: 0.7893 - val_loss: 0.4464 - val_accuracy: 0.7824
Epoch 51/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4369 - accuracy: 0.7890 - val_loss: 0.4463 - val_accuracy: 0.7808
Epoch 52/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4365 - accuracy: 0.7896 - val_loss: 0.4473 - val_accuracy: 0.7847
Epoch 53/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4362 - accuracy: 0.7899 - val_loss: 0.4455 - val_accuracy: 0.7800
Epoch 54/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4362 - accuracy: 0.7885 - val_loss: 0.4476 - val_accuracy: 0.7812
Epoch 55/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4365 - accuracy: 0.7905 - val_loss: 0.4452 - val_accuracy: 0.7824
Epoch 56/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4364 - accuracy: 0.7901 - val_loss: 0.4471 - val_accuracy: 0.7827
Epoch 57/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4362 - accuracy: 0.7900 - val_loss: 0.4467 - val_accuracy: 0.7827

Epoch 58/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4363 - accuracy: 0.7893 - val_loss: 0.4478 - val_accuracy: 0.7831
Epoch 59/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4360 - accuracy: 0.7893 - val_loss: 0.4475 - val_accuracy: 0.7820
Epoch 60/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4359 - accuracy: 0.7908 - val_loss: 0.4470 - val_accuracy: 0.7816
Epoch 61/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4362 - accuracy: 0.7887 - val_loss: 0.4481 - val_accuracy: 0.7824
Epoch 62/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4360 - accuracy: 0.7896 - val_loss: 0.4468 - val_accuracy: 0.7839
Epoch 63/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4363 - accuracy: 0.7896 - val_loss: 0.4459 - val_accuracy: 0.7839
Epoch 64/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.7890 - val_loss: 0.4473 - val_accuracy: 0.7835
Epoch 65/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4356 - accuracy: 0.7900 - val_loss: 0.4476 - val_accuracy: 0.7839
Epoch 66/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4356 - accuracy: 0.7896 - val_loss: 0.4476 - val_accuracy: 0.7816
Epoch 67/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.7896 - val_loss: 0.4468 - val_accuracy: 0.7824
Epoch 68/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4355 - accuracy: 0.7900 - val_loss: 0.4463 - val_accuracy: 0.7824
Epoch 69/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4358 - accuracy: 0.7896 - val_loss: 0.4472 - val_accuracy: 0.7859
Epoch 70/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.7887 - val_loss: 0.4461 - val_accuracy: 0.7843
Epoch 71/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4360 - accuracy: 0.7899 - val_loss: 0.4466 - val_accuracy: 0.7843
Epoch 72/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.7903 - val_loss: 0.4470 - val_accuracy: 0.7812
Epoch 73/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.7894 - val_loss: 0.4469 - val_accuracy: 0.7831
Epoch 74/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4356 - accuracy: 0.7903 - val_loss: 0.4484 - val_accuracy: 0.7855
Epoch 75/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4355 - accuracy: 0.7909 - val_loss: 0.4467 - val_accuracy: 0.7859
Epoch 76/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4352 - accuracy: 0.7912 - val_loss: 0.4477 - val_accuracy: 0.7847
Epoch 77/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4353 - accuracy: 0.7902 - val_loss: 0.4495 - val_accuracy: 0.7804
Epoch 78/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4356 - accuracy: 0.7896 - val_loss: 0.4479 - val_accuracy: 0.7812
Epoch 79/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4354 - accuracy: 0.7903 - val_loss: 0.4485 - val_accuracy: 0.7816
Epoch 80/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4355 - accuracy: 0.7905 - val_loss: 0.4476 - val_accuracy: 0.7827
Epoch 81/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4354 - accuracy: 0.7904 - val_loss: 0.4488 - val_accuracy: 0.7808
Epoch 82/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4353 - accuracy: 0.7905 - val_loss: 0.4489 - val_accuracy: 0.7812
Epoch 83/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4353 - accuracy: 0.7914 - val_loss: 0.4484 - val_accuracy: 0.7835
Epoch 84/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4353 - accuracy: 0.7909 - val_loss: 0.4466 - val_accuracy: 0.7843
Epoch 85/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4350 - accuracy: 0.7909 - val_loss: 0.4472 - val_accuracy: 0.7820
Epoch 86/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4349 - accuracy: 0.7899 - val_loss: 0.4488 - val_accuracy: 0.7843
Epoch 87/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4353 - accuracy: 0.7893 - val_loss: 0.4487 - val_accuracy: 0.7827
Epoch 88/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4351 - accuracy: 0.7893 - val_loss: 0.4477 - val_accuracy: 0.7835
Epoch 89/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4349 - accuracy: 0.7902 - val_loss: 0.4490 - val_accuracy: 0.7839
Epoch 90/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4347 - accuracy: 0.7901 - val_loss: 0.4480 - val_accuracy: 0.7824
Epoch 91/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4350 - accuracy: 0.7903 - val_loss: 0.4478 - val_accuracy: 0.7820
Epoch 92/100
724/724 [==============================] - 1s 2ms/step - loss: 0.4349 - accuracy: 0.7913 - val_loss: 0.4486 - val_accuracy: 0.7808
Epoch 93/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4351 - accuracy: 0.7908 - val_loss: 0.4482 - val_accuracy: 0.7816
Epoch 94/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4351 - accuracy: 0.7885 - val_loss: 0.4492 - val_accuracy: 0.7835
Epoch 95/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4347 - accuracy: 0.7898 - val_loss: 0.4482 - val_accuracy: 0.7824
Epoch 96/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4346 - accuracy: 0.7900 - val_loss: 0.4481 - val_accuracy: 0.7804
Epoch 97/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4346 - accuracy: 0.7913 - val_loss: 0.4478 - val_accuracy: 0.7816
Epoch 98/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4348 - accuracy: 0.7912 - val_loss: 0.4488 - val_accuracy: 0.7862
Epoch 99/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4348 - accuracy: 0.7912 - val_loss: 0.4492 - val_accuracy: 0.7812
Epoch 100/100
724/724 [==============================] - 1s 1ms/step - loss: 0.4345 - accuracy: 0.7909 - val_loss: 0.4477 - val_accuracy: 0.7862

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4597 - accuracy: 0.7746 - 212ms/epoch - 792us/step
Loss: 0.4596826434135437, Accuracy: 0.774577260017395

In [17]:
# Export our model to HDF5 file
nn.save("20220417_model3.h5")